.AddedFilters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-top: 30px;
  max-width: 70vw;
  max-height: 30vh;
  position: relative;

  span {
    background-color: $Desaturated-Dark-Cyan;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    border-radius: 12px;
  }
}
