@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0%;
  font-size: 62.5%;
}

.attribution {
  font-size: 1.5rem;
  margin-left: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span,
small {
  font-size: 1.5rem;
  margin: 5px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

$Light-Grayish-Cyan-Background: hsl(180, 52%, 96%);
$Light-Grayish-Cyan-Filter-Tablets: hsl(180, 31%, 95%);
$Dark-Grayish-Cyan: hsl(180, 8%, 52%);
$Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
$Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
$speed: 500ms;

//Components & media
@import "App.scss";
